<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpt.demo.mapper.CacheMapper">
    <select id="login" parameterType="hashmap" resultType="com.zpt.demo.model.User">
        select * from user where u_name = #{userName} and u_password = #{password}
    </select>
</mapper>